[Unit]
Description=annotator for {{appname}}
After={{after|default('network-online.target')}}
StartLimitBurst=5
StartLimitIntervalSec={{30*5}}

[Service]
{% if not asuser %}
User={{user}}
Group={{group}}
{% endif -%}
{%- set port = port|default(9998) -%}
ExecStart={{julia_dir | normpath}}/bin/julia --startup-file=no \
    --project=. \
    --threads={{threads|default('auto')}} \
    -m EmmaServer \
    --use-threads \
    --port={{port}} 
    {%- if instance is defined %} --max-days={{max_days|default(30)}} \
    --max-mb={{max_mb|default(2000)}} --sleep-days={{sleep_days|default(7)}} \
    --sleep-hours={{sleep_hours|default(2)}} --watch={{instance|normpath}}/datadir
    {% endif %}
{# specifications say this should be a synchronous function #}
ExecStop=/usr/bin/curl --silent http://127.0.0.1:{{port}}/terminate
KillSignal=SIGHUP
KillMode=control-group
WorkingDirectory={{annotator_dir|default('.')|normpath}}
SyslogIdentifier={{appname}}-annotate
Type=simple
Restart=always
RestartSec=30 {# if there is a bug in the service then don't churn... #}
# we may be processing something
TimeoutStopSec={{stopwait|default(30)}}

{% if instance is defined %}
StandardOutput=append:{{instance|normpath}}/logs/{{appname}}-annotate.log
StandardError=append:{{instance|normpath}}/logs/{{appname}}-error.log
{% else -%}
StandardOutput=syslog
StandardError=syslog
{% endif %}
{# Environment="JULIA_NUM_THREADS={{threads|default(8)}}" #}
Environment="JULIA_DEPOT_PATH={{depot_path|default(homedir ~'/.julia')}}"
Environment="USER={{user}}"
Environment="HOME={{homedir}}"
NoNewPrivileges=true
[Install]
WantedBy={% if not asuser %}multi-user.target{% else %}default.target{% endif %}
